@import "tailwindcss";

@theme {
  --color-primary: #080808;
  --color-cta: #146ef5;
  --color-alt: #0d0c22;
  --color-border: #e8e8e9;
  --color-warning: #f05e34;
  --color-good: #3b96f8;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-pattern {
  background: url(../../../public/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-pattern2 {
  @media (width < 48rem /* 768px */) {
    background: url(../../../public/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes shake {
  0%,
  60%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50% {
    transform: translateX(-5px);
  }
  20%,
  40% {
    transform: translateX(5px);
  }
}

.shake {
  animation: shake 1s ease-in-out 2;
}

/* .noise {
  background: url(../../../public/noise2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #1e1e1e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #191f34;
  border-radius: 10px;
}
